*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(106, 122, 82);
}
.row{
    /* justify-content: center;
     align-items: center;*/  /*in dinio se kaam nhi banta see below what to use */
    position: relative;
    text-align: center;
    top: 20vh; 
} 
.card{
    display: inline-block;
    height: 100px;
    width: 100px;
    /* background-color: rgb(180, 174, 174); */
}
.card:hover{
    /* border: 2px solid red; */
    /*border is disturbing the alignnment of the other boxexso lets check on the nternet for interal borders*/
    box-shadow: inset 0px 0px 0px 2px red;
    box-sizing: border-box;  /*iska kaam samj nhi ay yrr hatane ke baad bhi no effect*/
    
}

.hotpink{

    background-color: hotpink ;
}
.green{
    background-color: green;
}
.orange{
    background-color: orange;
}
.yellow{
    background-color: yellow ;
}
.skyblue{
    background-color: skyblue;
}
.violet{
    background-color: violet ;
}
.brown{
    background-color: brown ;
}
.maroon{
    background-color: rgb(10, 9, 9) ;
}

.card-hidden{
    background-color: #eee;
}

.rotate_card
{
    animation: rotatehorizontal 1s linear;
}

@keyframes rotatehorizontal {
    100%{
        transform: rotateY(180deg);
    }
}
.restartgame {
    visibility: hidden;
    position: absolute;
    display: inline-block;
    border: 1px solid hotpink;
    top: 30vh;
    left: 32.5vw;
    height: 25vh;
    width: 35vw;
    text-align: center;
    background-color: greenyellow;
    border-radius: 2vw;
    font-size: 5vw;
    cursor: all-scroll;
}
#restart {
    position: relative;
    height: 7vw;
    width: 27vw;
    border: none;
    font-size: 2vw;
    background-color: transparent;
    cursor: pointer;
    top: -3vh;
}
.mem {
    position: absolute;
    top: 3vh;
    left: 8vw;
    font-size: 10vh;
    font-weight: 900;
    font-family: cursive;
    color: whitesmoke;
    animation: blinker 1s infinite;
}
.game{
    position: absolute;
    top: 3vh;
    left: 78vw;
    font-size: 10vh;
    font-weight: 900;
    font-family: cursive;
    color: whitesmoke;
    animation: blinker 1s infinite;
}

@keyframes blinker{
    0%{
        color: whitesmoke;
    }
    20%{
        color: red;
    }
    40%{
        color: green;
    }
    60%{
        color: pimk;
    }
    80%{
        color: violet;
    }
    100%{
        color: orange;
    }

}
